@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* ROOT CSS START */
:root {
  --primary-color: #ff6e00;
  --secondary-color: ;
  --white-color: #ffffff;
  --black-color: #000000;
  --dark-color: #272635;
  --dark-shade-1: #031432;
  --dark-shade-2: #1b1d21;
  --dark-shade-3: #0a142f;
  --light-shade: #f9fbfc;
  --header: 90px;
  --title-font: "Poppins";
  --body-font: "Poppins";
  --gutter: 20px;
}

/* ROOT CSS END */
/* COMMON CSS START */

*,
:before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden !important;
}

body {
  font-size: 18px;
  line-height: 32px;
  background-color: var(--light-shade);
  color: var(--dark-color);
  font-family: var(--body-font);
}

p:last-child {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.back-img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  transition: 0.3s;
  text-decoration: unset;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ol {
  list-style: decimal;
  padding: 0;
  margin: 0 0 0 20px;
}

.for-des {
  display: block;
}

.for-des-flex {
  display: flex;
}

.for-mob,
.for-mob-flex {
  display: none;
}

.sec-wp {
  position: relative;
  z-index: 4;
}

.container {
  padding: 0 calc(var(--gutter) * 0.5);
}

.row {
  margin: 0 calc(var(--gutter) * -0.5);
}

.fw-500 {
  font-weight: 500 !important;
}

.dark-color {
  color: var(--dark-color) !important;
}

.sec-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  border: 0;
  outline: none;
  background-color: var(--primary-color);
  color: var(--white-color);
  cursor: pointer;
  transition: 0.3s;
}

.sec-btn:hover {
  background-color: var(--dark-color);
  color: var(--white-color);
}

/* common css responsive css start */
@media (min-width: 992px) {
  .site-footer .container {
    margin: auto;
    max-width: 1324px;
  }
}

@media (max-width: 991px) {
  .for-mob {
    display: block;
  }

  .for-mob-flex {
    display: flex;
  }

  .for-des,
  .for-des-flex {
    display: none;
  }
}

/* common css responsive css end */
/* COMMON CSS END */

/* TYPOGRAPHY CSS START */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
}

.h1-title {
  font-size: 40px;
  line-height: 54px;
  font-weight: 600;
  margin-bottom: 12px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.h2-title {
  font-size: 30px;
  line-height: 47px;
  font-weight: 500;
}

.h3-title {
  font-size: 25px;
  /* line-height: ; */
  font-weight: 400;
}

.h4-title {
  font-size: 22px;
  /* line-height: ; */
  font-weight: 400;
}

.h5-title {
  font-size: 20px;
  line-height: 25px;
  font-weight: 500;
}

.h6-title {
  font-size: 16px;
  /* line-height: ; */
  font-weight: 600;
}

.white-text h1,
.white-text h2,
.white-text h3,
.white-text h4,
.white-text h5,
.white-text h6,
.white-text p {
  color: var(--white-color);
}

/* TYPOGRAPHY CSS END */

/* HEADER CSS START */

.site-header {
  position: fixed;
  width: 100%;
  inset: 0 0 auto 0;
  padding: 22px 0;
  background-color: var(--white-color);
  z-index: 99;
  transition: 0.3s;
}

.site-header.sticky-header {
  padding: 18px 0;
  box-shadow: 0 0 12px rgba(0 0 0 / 6%);
}

.header-mobile-menu ul {
  display: flex;
  align-items: center;
  gap: 41px;
}

.header-mobile-menu ul li a {
  position: relative;
  color: var(--dark-color);
}

.header-mobile-menu ul li a:before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.header-mobile-menu ul li.active-menu a,
.header-mobile-menu ul li a:hover {
  color: var(--primary-color);
}

.header-mobile-menu ul li.active-menu a:before,
.header-mobile-menu ul li a:hover:before {
  width: 70%;
  opacity: 1;
  visibility: visible;
}

.header-cta-btn a {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 214px;
  height: 45px;
  overflow: hidden;
  border-radius: 45px;
  outline: 1px solid transparent;
  color: var(--white-color);
  font-size: 16px;
  line-height: 24px;
  transition: 0.3s;
}

.header-cta-btn a:hover {
  outline-color: var(--primary-color);
  color: var(--primary-color);
}

.header-cta-btn a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(106.67deg, #ffc107 -43.47%, #ff6e00 106.87%);
  z-index: -1;
  transition: 0.3s;
}

.header-cta-btn a:hover:before {
  /* opacity: 0; */
  background: #fff;
}

nav.site-navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 39px;
}

/* header responsive  css start*/
@media (min-width: 1400px) {
  .container {
    max-width: 1220px;
  }
}

/* header responsive  css end*/
/* HEADER CSS END */

/* BANNER CSS START */
.main-banner {
  position: relative;
}

.main-banner .sec-wp {
  display: flex;
  align-items: center;
  min-height: 790px;
  padding: 150px 0 0 0;
}

.main-banner:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(117.79deg,
      rgba(10, 85, 122, 0) -7.95%,
      rgba(0, 42, 82, 0.8) 52.82%);
  transform: scale(-1, 1);
  pointer-events: none;
}

.sub-title {
  font-weight: 300;
  font-size: 22px;
  line-height: 36px;
  text-transform: uppercase;
  letter-spacing: 0.24em;
  margin-bottom: 4px;
}

.banner-text p {
  letter-spacing: 0.04em;
}

.banner-content.white-text {
  max-width: 700px;
  position: relative;
  margin-left: 14px;
}

.banner-text {
  max-width: 576px;
}

.banner-cta a {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 0 6px 0 20px;
  height: 55px;
  overflow: hidden;
  border-radius: 45px;
  background-color: var(--white-color);
  color: var(--primary-color);
  font-size: 18px;
  line-height: 27px;
  transition: 0.3s;
}

.banner-cta a span {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  background-color: var(--primary-color);
  transition: 0.3s;
}

.banner-cta a span:before {
  content: "";
  display: inline-flex;
  width: 17px;
  height: 14px;
  background-image: url("../images/arrow_right_line.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3s;
}

.banner-cta {
  margin-top: 30px;
}

.banner-cta a:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
  gap: 18px;
}

.banner-cta a:hover span {
  background-color: var(--white-color);
}

.banner-cta a:hover span:before {
  filter: brightness(0);
}

.banner-content .banner-shape {
  position: absolute;
}

.banner-content .banner-shape.dots-shape {
  top: -106px;
  left: 96px;
  opacity: 0.5;
}

.banner-content .banner-shape.plus-shape {
  left: 430px;
  bottom: 0;
}

.bottom-banner {
  padding: 52px 0 32px;
  background: linear-gradient(101.27deg, #062747 31.61%, #041a2f 157.04%);
}

.bottom-banner-icon span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 58px;
  overflow: hidden;
  border-radius: 10px;
  background-color: rgb(255 255 255 / 10%);
}

.bottom-banner-icon span img {
  position: relative;
  z-index: 1;
}

.bottom-banner-box {
  position: relative;
  display: flex;
  gap: 19px;
}

.bottom-banner-content p {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.04em;
  margin: 0;
}

.bottom-banner-wp {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.about-us {
  padding: 58px 0 105px;
}

.about-us-img {
  position: relative;
  max-width: 536px;
  height: 415px;
}

.about-us-img .back-img {
  overflow: hidden;
  border-radius: 10px;
}

.quality-quantity {
  position: absolute;
  bottom: -20px;
  right: -15px;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 29px 24px 20px;
  background-color: var(--white-color);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 5px 10px 0px #0000001a;
}

.quality-quantity span {
  flex-shrink: 0;
  width: 40px;
  aspect-ratio: 1/1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.quality-quantity p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin: 0;
}

.quality-quantity>div {
  display: flex;
  flex-direction: column;
}

.about-us-content a {
  display: inline-flex;
  font-size: 22px;
  line-height: 33px;
  text-decoration: underline;
  color: var(--primary-color);
}

.about-us-content a:hover {
  color: #002a52;
}

.about-us-content {
  margin: 44px 0 0 -4px;
}

.about-us-content p {
  max-width: 513px;
  margin: 14px 0 22px;
}

.insurance-fee {
  background-color: var(--white-color);
  padding: 58px 0 103px;
}

.insurance-fee .sec-title {
  text-align: center;
  max-width: 963px;
  margin: auto;
}

.insurance-fee .h3-title {
  color: var(--primary-color);
}

.insurance-fee-box-wp {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 68px 0 0 0;
}

.insurance-fee-box {
  text-align: center;
  position: relative;
  padding: 0 34px;
}

.insurance-fee-box .price {
  color: var(--primary-color);
  margin-bottom: 8px;
}

.insurance-fee-box .h4-title {
  margin-top: 28px;
}

.insurance-fee-box img {
  min-height: 84px;
}

.insurance-fee-text {
  line-height: 26px;
  margin: auto;
}

/* banner responsive css start */
/* banner responsive css end */
/* BANNER CSS END */

/*FOOTER CSS START*/
.top-footer {
  padding: 52px 0 28px;
}

.footer-navs {
  display: flex;
}

.footer-navs ul li a {
  font-size: 16px;
  color: var(--dark-shade-2);
  white-space: nowrap;
}

.footer-navs ul li a:hover {
  color: var(--primary-color);
}

.product-nav {
  margin-right: 106px;
}

.information-nav {
  margin-right: 127px;
}

.footer-right {
  max-width: 602px;
  margin-left: auto;
}

.newsletter-box {
  height: 52px;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  border-radius: 6px;
}

.newsletter-box input {
  width: 100%;
  height: 100%;
  flex: 1;
  font-size: 16px;
  line-height: 1;
  background-color: var(--white-color);
  color: var(--black-color);
  outline: none;
  border: 0;
  margin: 0;
  padding: 0 18px;
}

.newsletter-box input::placeholder {
  color: #2e2e2e;
}

.newsletter-box button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 100%;
  outline: none;
  border-radius: 0;
  border: 0;
  background-color: var(--primary-color);
  transition: 0.3s;
}

.newsletter-box button:hover,
.newsletter-box button:focus {
  background-color: var(--dark-color);
}

.newsletter-content p {
  font-size: 14px;
  line-height: 30px;
}

.newsletter-content {
  margin-top: 40px;
  opacity: 0.6;
}

.newsletter-content .h6-title {
  color: var(--primary-color);
}

.bottom-footer {
  border-top: 1px solid rgb(255 110 0 / 25%);
  padding-block: 16px 38px;
}

.bottom-footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom-footer-content p,
.footer-policies ul li a {
  font-size: 16px;
  line-height: 1;
  margin: 0;
  color: var(--dark-shade-3);
}

.footer-policies ul li a:hover {
  color: var(--primary-color);
}

.footer-policies ul,
.footer-socials ul {
  display: flex;
  align-items: center;
  gap: 37px;
}

.footer-socials ul {
  gap: 20px;
}

.footer-socials ul li:nth-child(2) {
  display: none;
}

.footer-socials ul li,
.footer-socials ul li a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.footer-socials ul li a:hover {
  opacity: 0.625;
}

/* FOOTER CSS END  */
/* HOME PAGE RESPONSIVE CSS START */

@media (min-width: 992px) {
  .insurance-fee .sec-title .h3-title {
    margin-bottom: 15px;
  }

  .bottom-banner-wp .bottom-banner-box:not(:last-child):after {
    content: "";
    position: absolute;
    right: 0;
    top: -10px;
    width: 1px;
    height: 74px;
    background-color: rgb(255 255 255 / 50%);
  }

  .insurance-fee-box-wp .insurance-fee-box:not(:last-child):before {
    content: "";
    position: absolute;
    right: 0;
    top: 30px;
    width: 1px;
    height: 204px;
    background-color: #7c7c7c;
  }
}

@media (min-width: 1200px) {
  .main-banner .h1-title {
    font-size: 50px;
    line-height: 64px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1400px) {
  .top-footer .container {
    max-width: 1314px;
  }

  .bottom-banner-wp .bottom-banner-box:nth-child(1) {
    padding: 0 38px 0 26px;
  }

  .bottom-banner-wp .bottom-banner-box:nth-child(2) {
    padding: 0 22px 0 20px;
  }

  .bottom-banner-wp .bottom-banner-box:nth-child(3) {
    padding: 0 16px 0 22px;
  }
}

@media (max-width: 1399px) {
  .main-banner .sec-wp {
    min-height: 650px;
  }

  .banner-content .banner-shape.dots-shape {
    top: -70px;
    left: 60px;
  }

  .bottom-banner-wp {
    gap: 0;
    --space: 40px;
    margin: 0 calc(var(--space) * -1);
  }

  .bottom-banner-box {
    padding: 0 var(--space);
    gap: 14px;
  }

  .bottom-banner-wp .bottom-banner-box:not(:last-child):after {
    top: 0;
    height: 80%;
  }

  .bottom-banner {
    padding: 46px 0 32px;
  }

  .information-nav,
  .product-nav {
    margin-right: 70px;
  }
}

@media (max-width: 1199px) {
  .header-mobile-menu ul {
    gap: 22px;
  }

  nav.site-navigation {
    gap: 30px;
  }

  .header-mobile-menu ul li a {
    font-size: 16px;
  }

  .header-cta-btn a {
    min-width: 205px;
  }

  .bottom-banner-box {
    flex-direction: column;
  }

  .about-us-content {
    margin: 40px 0 0 20px;
  }

  .insurance-fee-box {
    padding: 0 22px;
  }

  .insurance-fee-text {
    font-size: 16px;
  }

  .information-nav,
  .product-nav {
    margin-right: 34px;
  }
}

@media (max-width: 991px) {
  body {
    font-size: 16px;
    line-height: 1.6;
  }

  .h2-title {
    font-size: 28px;
    line-height: 1.5;
  }

  .site-header .container,
  .site-header .container .row {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  .site-header .col-lg-2 {
    max-width: unset;
    width: 132px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 15px;
    margin: 0;
    padding: 0;
  }

  .ham-menu {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    outline: none;
    border: 0;
    background: transparent;
    z-index: 99;
  }

  .ham-menu span {
    --offset: 9px;
    top: 0;
    position: relative;
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--primary-color);
    transition: 0.4s;
  }

  nav.site-navigation {
    display: block;
    position: fixed;
    width: 350px;
    height: 100vh;
    top: 0;
    right: 0;
    transform: translate(100%, 0);
    background: linear-gradient(117.79deg,
        rgba(10, 85, 122, 1) -7.95%,
        rgba(0, 42, 82, 1) 52.82%);
    padding: 11vh 0 0 4vh;
    z-index: 98;
    transition: 0.3s;
  }

  .toggle-menu nav.site-navigation {
    transform: translate(0, 0);
  }

  .toggle-menu .ham-menu span:first-child {
    transform: rotate(45deg);
    top: var(--offset);
  }

  .toggle-menu .ham-menu span:nth-child(2) {
    opacity: 0;
  }

  .toggle-menu .ham-menu span:last-child {
    top: calc(var(--offset) * -1);
    transform: rotate(-45deg);
  }

  .header-mobile-menu ul {
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    gap: 12px;
  }

  .header-mobile-menu ul li a:before {
    left: 0;
    transform: unset;
  }

  .header-cta-btn {
    margin-top: 40px;
  }

  .header-cta-btn a:hover {
    outline-color: var(--white-color);
    color: var(--dark-color);
  }

  .site-header {
    padding: 0;
    height: 66px;
  }

  .header-mobile-menu ul li a {
    color: var(--white-color);
  }

  .nav-overlay {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--dark-color);
    opacity: 0.7;
  }

  .banner-content.white-text {
    margin: 0;
  }

  .main-banner {
    background-position: right;
  }

  .sub-title {
    font-size: 20px;
    line-height: 30px;
  }

  .main-banner .sec-wp {
    min-height: 575px;
    padding: 120px 0 0 0;
  }

  .main-banner:before {
    background: linear-gradient(120deg,
        rgba(10, 85, 122, 0.875) -50%,
        rgba(0, 42, 82, 1) 50%);
    opacity: 0.875;
  }

  .banner-content .banner-shape.plus-shape {
    left: 280px;
    bottom: -20px;
  }

  .banner-content .banner-shape.dots-shape {
    top: -60px;
    left: 30px;
  }

  .bottom-banner-wp {
    --space: 26px;
    grid-template-columns: unset;
  }

  .bottom-banner-box {
    text-align: center;
    max-width: 380px;
    margin: auto;
    padding: 0;
  }

  .bottom-banner-box:not(:last-child) {
    padding: 0 0 var(--space) 0;
    margin-bottom: var(--space);
    border-bottom: 1px solid rgb(255 255 255 / 25%);
  }

  .bottom-banner-content p {
    line-height: 1.6;
  }

  .bottom-banner {
    padding: 50px 0;
    background: linear-gradient(50deg, #062747 30%, #041a2f 100%);
  }

  .about-us-content {
    margin: 50px 0 0 0;
  }

  .about-us-content p {
    max-width: 100%;
    margin: 4px 0 18px;
  }

  .about-us {
    padding: 50px 0;
  }

  .quality-quantity {
    padding: 16px 22px;
    bottom: -18px;
    right: -18px;
  }

  .about-us-img {
    max-width: 500px;
    aspect-ratio: 1/0.77425373;
    height: auto;
  }

  .about-us-content a {
    font-size: 20px;
    line-height: 1.4;
  }

  .insurance-fee-box-wp {
    grid-template-columns: unset;
    margin: 48px 0 0 0;
  }

  .insurance-fee-box {
    padding: 0;
    max-width: 300px;
    margin-inline: auto;
  }

  .insurance-fee-box:not(:last-child) {
    border-bottom: 1px solid rgb(119 119 119 / 25%);
    margin-bottom: 26px;
    padding-bottom: 26px;
  }

  .insurance-fee {
    padding: 58px 0;
  }

  .insurance-fee-box img {
    min-height: auto;
    height: 64px;
  }

  .footer-navs {
    justify-content: flex-start;
    gap: 60px;
    /* max-width: 476px; */
  }

  .newsletter-content {
    margin-top: 26px;
  }

  .information-nav,
  .product-nav {
    margin: 0;
  }

  .footer-right {
    max-width: max-content;
    margin: 50px 0 0;
  }

  .footer-nav .h6-title {
    margin-bottom: 18px;
  }

  .top-footer {
    padding: 52px 0 40px;
  }

  .bottom-footer {
    padding: 24px 0 20px;
  }

  .bottom-footer-content {
    flex-direction: column;
    gap: 14px;
  }

  .bottom-footer-content p {
    margin-bottom: 10px;
  }

  .bottom-footer-content p,
  .footer-policies ul li a {
    font-size: 14px;
  }

  .footer-socials ul li a img {
    width: 32px;
  }

  .footer-socials ul {
    gap: 16px;
  }

  .footer-policies ul {
    gap: 28px;
  }

  .footer-policies {
    order: 1;
  }
}

@media (max-width: 767px) {
  .sub-title {
    font-size: 18px;
    line-height: 26px;
  }

  .h1-title {
    font-size: 40px;
    line-height: 1.4;
  }

  .h2-title {
    font-size: 24px;
  }

  .h3-title {
    font-size: 22px;
  }

  .h4-title {
    font-size: 20px;
  }

  .about-us-content a {
    font-size: 18px;
  }
}

@media (max-width: 575px) {
  .h2-title {
    font-size: 22px;
  }

  .h3-title {
    font-size: 20px;
  }

  .h4-title {
    font-size: 18px;
  }

  .banner-cta a {
    font-size: 16px;
    line-height: 22px;
    height: 48px;
    padding: 0 4px 0 16px;
  }

  .banner-content .banner-shape.dots-shape {
    width: 48px;
    top: -50px;
  }

  .about-us-img {
    max-width: 94%;
  }

  .quality-quantity {
    padding: 12px 18px;
    gap: 12px;
  }

  .insurance-fee {
    padding: 48px 0;
  }

  .insurance-fee-box-wp {
    margin: 38px 0 0 0;
  }

  .footer-navs {
    gap: 30px;
  }

  .top-footer {
    padding: 48px 0 36px;
  }
}

@media (max-width: 480px) {
  nav.site-navigation {
    width: 260px;
  }

  .site-header {
    height: 60px;
  }

  .site-header .col-lg-2 {
    width: 110px;
  }

  .ham-menu {
    width: 26px;
    height: 18px;
  }

  .ham-menu span {
    height: 2px;
  }

  .ham-menu span {
    --offset: 8px;
  }

  .main-banner .sec-wp {
    min-height: 600px;
    padding: 130px 0 30px;
  }

  .bottom-banner-box {
    max-width: calc(100% - 40px);
  }

  .bottom-banner-wp {
    margin: 0;
    --space: 22px;
  }

  .bottom-banner {
    padding: 40px 0;
  }

  .footer-navs {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .h1-title {
    font-size: 8vw;
  }

  .sub-title {
    font-size: 16px;
    line-height: 22px;
  }

  .banner-text p {
    font-size: 14px;
  }

  .banner-content .banner-shape.dots-shape {
    top: -48px;
    left: 30px;
  }

  .banner-content .banner-shape.plus-shape {
    left: 260px;
  }
}

/* HOME PAGE RESPONSIVE CSS END */
/*HOW IT WORKS CSS START*/
.inner-banner .banner-content {
  text-align: center;
  max-width: 100%;
  padding: 0 196px;
}

.inner-banner:before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #05223db2;
}

.inner-banner {
  position: relative;
  padding: 270px 0 170px;
}

.inner-banner .banner-text {
  max-width: 758px;
  margin: auto;
}

.how_it_works_page .insurance-fee {
  background-color: var(--light-shade);
  padding-bottom: 50px;
}

.other-clinic {
  background-color: var(--white-color);
  padding: 60px 0 64px;
}

.other-clinic .sec-title {
  text-align: center;
  margin-bottom: 24px;
}

.comparison-box table {
  width: 973px;
  margin: auto;
  text-align: center;
}

.comparison-box table thead {
  background-color: rgb(241 241 241 / 60%);
}

.comparison-box table thead th {
  font-weight: 500;
  font-size: 25px;
  line-height: 1.4;
  padding: 10px 0;
}

.comparison-box table tbody td {
  line-height: 22px;
  color: var(--black-color);
  padding: 28px 0;
}

.comparison-box table tbody tr:first-child td {
  padding-top: 40px;
}

.comparison-box tbody tr:nth-child(even) td {
  color: var(--primary-color);
}

.comparison-box table tbody tr:not(:last-child) {
  border-bottom: 1px solid rgb(124 124 124 / 20%);
}

.physical-therapy .insurance-fee-box-wp .insurance-fee-box:before {
  top: 16px;
}

.comparison-cta a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 314px;
  height: 60px;
  background-color: var(--primary-color);
  color: var(--white-color);
}

.comparison-cta a:hover {
  background-color: var(--dark-color);
}

.comparison-cta {
  margin-top: 14px;
}

/* how it works responsive start */
@media (min-width: 1200px) {
  .insurance-fee-box-wp .insurance-fee-box {
    padding: 0 48px;
  }
}

@media (max-width: 1399px) {
  .inner-banner .banner-content {
    padding: 0 142px;
  }

  .inner-banner {
    padding: 200px 0 100px;
  }
}

@media (max-width: 1199px) {
  .inner-banner .banner-content {
    padding: 0;
  }

  .comparison-box table {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .inner-banner {
    padding: 130px 0 40px;
  }

  .comparison-box table thead th {
    font-size: 22px;
  }

  .comparison-box table tbody td {
    padding: 18px 0;
  }

  .comparison-box table tbody tr:first-child td {
    padding-top: 26px;
  }

  .comparison-cta a {
    min-width: 244px;
    height: 52px;
  }
}

@media (max-width: 767px) {
  .comparison-box table thead th {
    font-size: 18px;
  }

  .comparison-box table tbody td {
    font-size: 14px;
    line-height: 1.4;
    padding: 12px 0;
  }

  .comparison-box table tbody tr:first-child td {
    padding-top: 20px;
  }

  .other-clinic {
    padding: 46px 0;
  }
}

@media (max-width: 575px) {
  .inner-banner {
    padding: 110px 0 20px;
  }

  .comparison-box table thead th {
    font-size: 16px;
  }

  .comparison-cta a {
    min-width: 214px;
    height: 46px;
  }

  .comparison-cta {
    margin-top: 6px;
  }
}

/* how it works responsive end */

/*HOW IT WORKS CSS END*/

/* WHAT WE TREAT CSS START */
.pain-management {
  padding: 46px 0 80px;
}

.pain-management .sec-title {
  max-width: 823px;
  margin: 0 auto 40px;
  text-align: center;
}

.pain-management-box {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--white-color);
  border-radius: 75px;
  padding-left: 40px;
  gap: 30px;
}

.types-of-pain .row {
  gap: 35px 0;
}

.pain-management-box p {
  margin: 0;
}

.rehabilitation-points ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px 20px;
}

.rehabilitation-points ul li {
  break-inside: avoid;
  position: relative;
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
}

.rehabilitation-points ul li:before {
  content: "";
  position: relative;
  top: 7px;
  display: inline-block;
  align-self: flex-start;
  width: 18px;
  aspect-ratio: 1/1;
  -webkit-mask-image: url("../images/rehabilitation-point-icon.svg");
  -webkit-mask-size: cover;
  -webkit-mask-position: center;
  background: var(--primary-color);
}

.rehabilitation-section-wp .rehabilitation-section:nth-child(odd) {
  background-color: var(--white-color);
  box-shadow: 0px 8px 10px 0px #f2fffe;
}

.rehabilitation-section-wp .rehabilitation-section {
  padding: 76px 0 64px;
}

.rehabilitation-section .h2-title {
  text-align: center;
  padding-bottom: 8px;
  margin-bottom: 34px;
}

.rehabilitation-section .h2-title:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--primary-color);
}

.clinical-approach .h2-title {
  max-width: 271px;
  margin: 0 14px 0 auto;
}

.clinical-approach-content ul {
  list-style: disc;
  margin: 32px 0 0 28px;
}

.clinical-approach-content ul li::marker {
  font-size: 14px;
}

.clinical-approach {
  padding: 70px 0;
}

.what-expect-img {
  text-align: right;
  margin-right: 80px;
}

.what-expect-content {
  max-width: 583px;
}

.what-expect {
  background-color: var(--white-color);
  box-shadow: 0px 8px 10px 0px #f2fffe;
  padding: 57px 0 68px;
}

.what-expect-content .sec-btn {
  width: 197px;
  height: 51px;
  margin-top: 6px;
}

/* what we treat responsive start */
@media (max-width: 1199px) {
  .pain-management-box {
    padding-left: 24px;
    gap: 12px;
  }

  .pain-management-box p {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .types-of-pain .row {
    gap: var(--gutter) 0;
  }

  .pain-management .sec-title {
    margin: 0 auto 20px;
  }

  .pain-management {
    padding: 46px 0;
  }

  .rehabilitation-section-wp .rehabilitation-section {
    padding: 44px 0;
  }

  .rehabilitation-points ul {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 70px;
  }

  .clinical-approach .h2-title {
    margin: 0 0 8px 0;
  }

  .clinical-approach-content ul {
    margin: 20px 0 0 28px;
  }

  .clinical-approach {
    padding: 50px 0;
  }

  .what-expect-img {
    text-align: left;
    margin: 60px 0 0 0;
    max-width: 324px;
  }
}

@media (max-width: 767px) {
  .types-of-pain .row {
    gap: 12px 0;
  }

  .pain-management .sec-title {
    margin: 0 auto 20px;
  }

  .pain-management-box img {
    max-width: 80%;
    max-height: 34px;
  }

  .pain-management-box {
    height: 60px;
    gap: 10px;
    padding-left: 18px;
  }

  .rehabilitation-points ul {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 40px;
    gap: 10px;
  }

  .rehabilitation-points ul li:before {
    width: 14px;
  }

  .rehabilitation-points ul li {
    gap: 8px;
  }

  .clinical-approach-content ul li {
    font-size: 14px;
    line-height: 1.6;
  }

  .clinical-approach-content ul li:not(:last-child) {
    margin-bottom: 6px;
  }

  .what-expect-img {
    max-width: 286px;
    margin: 40px 0 0 0;
  }
}

@media (max-width: 480px) {
  .what-expect {
    padding: 40px 0 50px;
  }

  .rehabilitation-section .h2-title {
    margin-bottom: 24px;
  }

  .rehabilitation-section-wp .rehabilitation-section {
    padding: 34px 0;
  }

  .clinical-approach {
    padding: 34px 0;
  }

  .what-expect {
    padding: 32px 0 44px;
  }

  .pain-management .sec-title {
    margin: 0 auto 10px;
  }
}

@media (max-width: 400px) {
  .rehabilitation-points ul {
    margin-left: 16px;
  }

  .types-of-pain .row {
    gap: 8px 0;
  }

  .what-expect-content .sec-btn {
    width: 166px;
    height: 46px;
  }
}

/* what we treat responsive end */
/* WHAT WE TREAT CSS START */
/* ABOUT US CSS START */
.about_page .inner-banner {
  padding: 244px 0 146px;
}

.about-main-content .sec-btn {
  width: 203px;
  height: 50px;
}

.about-main-cta {
  margin-top: 30px;
}

.features-content .h3-title {
  color: var(--primary-color);
}

.about-main-img {
  width: 376px;
  height: 246px;
  overflow: hidden;
  border-radius: 10px;
}

.about-main-img-box {
  position: relative;
  margin-left: 36px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-main-img-box:before {
  content: "";
  position: absolute;
  width: 474px;
  top: 20px;
  right: 40px;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  background-color: #f2f2f2;
  z-index: -1;
  pointer-events: none;
}

.about-main-img:first-child {
  margin-left: auto;
}

.about-main-content {
  max-width: 572px;
}

.about-us-main {
  padding: 84px 0 0;
}

.features-image {
  position: relative;
  padding: 22px 0 0 30px;
}

.features-image .back-img:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 315px;
  height: 363px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  background-color: #f2f2f2;
  z-index: -1;
}

.features-image .back-img {
  max-width: 424px;
  aspect-ratio: 1/1.02830188;
  overflow: hidden;
  border-radius: 10px;
}

.features-content {
  max-width: 664px;
}

.features-text p {
  line-height: 26px;
}

.features-text p:not(:last-child) {
  margin-bottom: 26px;
}

.features-content .h2-title {
  max-width: 540px;
}

.features {
  margin-top: 76px;
}

.inhome-physical-therapy {
  background-color: unset;
  padding: 138px 0 73px;
}

/* about us responsive css start */
@media (min-width: 992px) {
  .about-main-content h2.h2-title {
    font-size: 45px;
    margin-bottom: 14px;
  }

  .about-main-content h3.h2-title {
    line-height: 40px;
    margin-bottom: 20px;
  }

  .features-content .h3-title {
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
  .inhome-physical-therapy .insurance-fee-box {
    padding: 0 24px;
  }
}

@media (max-width: 1399px) {
  .about-main-img-box:before {
    width: 444px;
  }

  .features-content {
    margin-left: 30px;
  }
}

@media (max-width: 1199px) {
  .about-main-img-box:before {
    width: 372px;
    right: 24px;
  }

  .about-main-img-box:before {
    width: 362px;
    right: 32px;
  }
}

@media (max-width: 991px) {
  .features {
    margin-bottom: 50px;
  }

  .about_page .inner-banner {
    padding: 174px 0 76px;
  }

  .about-us-main {
    padding: 52px 0 0;
  }

  .about-main-img-box {
    max-width: 500px;
    margin: 0 auto;
  }

  .about-main-img-box:before {
    width: 442px;
  }

  .about-main-content {
    max-width: 100%;
    margin-top: 40px;
  }

  .about-main-content h3.h2-title {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 18px;
  }

  .features-content {
    margin: 40px 0 0 0;
  }

  .features-text p:not(:last-child) {
    margin-bottom: 10px;
  }

  .inhome-physical-therapy {
    padding: 52px 0;
    background-color: var(--white-color);
  }

  .features-image .back-img:before {
    width: 58%;
    height: auto;
    aspect-ratio: 1/1.125;
  }

  .features-image {
    padding: 18px 0 0 26px;
  }
}

@media (max-width: 575px) {
  .about-main-img {
    width: 75%;
    height: auto;
    aspect-ratio: 1/0.65;
  }

  .about-main-img-box:before {
    width: 90%;
    right: 16px;
  }

  .about-main-img-box {
    max-width: calc(100% - 30px);
  }

  .about-main-content h3.h2-title {
    font-size: 18px;
  }

  .about-main-content .sec-btn {
    width: 162px;
    height: 46px;
  }

  .about_page .inner-banner {
    padding: 144px 0 52px;
  }

  .features-image .back-img {
    max-width: 340px;
  }

  .about-us-main {
    padding: 40px 0 0;
  }

  .about-main-content {
    margin-top: 26px;
  }

  .about-main-content h3.h2-title {
    margin-bottom: 12px;
  }

  .about-main-cta {
    margin-top: 20px;
  }

  .features {
    margin: 50px 0 34px;
  }

  .inhome-physical-therapy {
    padding: 42px 0;
  }
}

/* about us responsive css end */
/* ABOUT US CSS START */

/* CONTACT US PAGE CSS START */
.contact_page .inner-banner {
  padding: 202px 0 246px;
}

.request-appointment-box {
  position: relative;
  max-width: 996px;
  margin: -185px auto 0;
  background-color: var(--white-color);
  overflow: hidden;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 422px auto;
  gap: 28px 87px;
  padding: 32px 100px 58px 100px;
  z-index: 1;
}

.request-appointment-form .form-box {
  position: relative;
  display: block;
  margin-bottom: 38px;
}

.request-appointment-form .form-box input:not(input[type="radio"]),
.request-appointment-form .form-box select {
  width: 100%;
  outline: none;
  padding: 10px 14px 0;
  border: 1px solid #b4bec8;
  border-radius: 4px;
  height: 59px;
  font-size: 16px;
  appearance: none;
  -webkit-appearance: none;
  transition: 0.3s;
}

.request-appointment-form .form-box:not(.form_select):not(.radio-box-wp):not(.submit-btn) label {
  position: absolute;
  background-color: var(--white-color);
  color: var(--primary-color);
  top: -9px;
  left: 20px;
  z-index: 5;
  padding: 0 10px;
  font-size: 18px;
  line-height: 1;
  transition: 0.3s;
}

.request-appointment-form .form-box input::placeholder {
  color: var(--dark-color);
}

.request-appointment-form .form-box input:focus {
  border: 1px solid #9ea7b1;
  box-shadow: 0 0 12px rgb(158 167 177 / 6%);
  padding-top: 5px;
}

.form-box label {
  position: relative;
  display: block;
}

.request-appointment-form .form-box select {
  width: 100%;
  height: 59px;

  padding-top: 0;
  font-size: 18px;
}

.form_select_wp {
  position: relative;
}

.form_select_wp:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translate(0, -50%) rotate(90deg);
  display: inline-block;
  align-self: flex-start;
  width: 16px;
  aspect-ratio: 1 / 1;
  -webkit-mask-image: url(../images/rehabilitation-point-icon.svg);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background: var(--primary-color);
}

.form-box.radio-box-wp {
  display: flex;
  align-items: center;
  gap: 27px;
}

.form-box.radio-box-wp>label {
  flex: 0 0 186px;
}

.radio-box {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  gap: 42px;
}

.form-box.radio-box-wp .radio-box-option {
  position: relative;
  display: flex;
  align-items: center;
}

.form-box.radio-box-wp .radio-box-option input {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.form-box.radio-box-wp .radio-box-option label {
  padding-left: 28px;
}

.form-box.radio-box-wp .radio-box-option label:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 18px;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid var(--white-color);
  outline: 2px solid var(--black-color);
  transition: 0.3s;
}

.form-box.radio-box-wp .radio-box-option input:checked~label:before {
  background-color: var(--primary-color);
}

.submit-btn button.sec-btn {
  max-width: 100%;
  width: 100%;
  height: 50px;
}

.form-box.submit-btn {
  margin: 0 !important;
}

.request-appointment-box .h2-title {
  grid-column: 1/-1;
}

.wellness-brand p a {
  display: block;
  color: inherit;
}

.wellness-phone a,
.wellness-mail a {
  color: inherit;
}

.wellness-socials ul {
  display: inline-flex;
  align-items: center;
  gap: 25px;
}

.wellness-socials ul a {
  color: var(--primary-color);
}

.wellness-socials ul a:hover {
  color: var(--dark-color);
  opacity: .875;
}

.wellness-brand p a:hover, .wellness-phone a:hover, .wellness-mail a:hover {
  color: var(--primary-color);
}

.wellness-brand {
  margin-bottom: 14px;
}

.request-content {
  padding: 90px 0 30px;
}

.request-content .row {
  max-width: 1016px;
  margin: auto;
}

.request-content .h4-title {
  color: var(--black-color);
  margin-bottom: 14px;
}

.request-content p:not(:last-of-type) {
  margin-bottom: 50px;
}

.request-content p {
  color: var(--dark-color);
}

.blog-image {
  width: 100%;
  aspect-ratio: 1/.43076923;
  overflow: hidden;
}

.blog-image:hover a {
  transform: scale(1.0125);
}

.blog-image a {
  display: block;
  transform: scale(1);
}

.blog-card .h6-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: var(--black-color);
  margin-bottom: 14px;
}

.blog-card-content .h6-title a:hover {
  text-decoration: underline !important;
}

.blog-text p {
  color: #1E1E1E;
  font-size: 14px;
  line-height: 26px;
}

.blog-card-content {
  padding: 14px 20px 33px;
}

.blog-card-content .h6-title a {
  color: inherit;
}

.blog-author {
  margin-top: 14px;
  padding-top: 24px;
  border-top: 1px solid #D4D4D4;
  display: flex;
  align-items: center;
  gap: 25px;
}

.blog-detail-sec .blog-author {
  margin: 0 0 23px 0;
  padding: 0 0 28px 0;
  border: 0;
  border-bottom: 1px solid #D4D4D4;
}

.blog-author-avatar {
  display: block;
  flex: 0 0 auto;
  width: 38px;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.blog-author-details {
  display: flex;
  align-items: center;
}

.blog-author-details li {
  position: relative;
  padding-right: 18px;
  margin-right: 18px;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 500;
  color: #6D7D8B;
}

.blog-author-details li a:hover {
  color: var(--primary-color);
  text-decoration: underline !important;
}

.blog-author-details li:not(:last-child):before {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 2px;
  height: 10px;
  background-color: #BBC8D4;
}

.blog-author-details li * {
  color: inherit;
}

/* CONTACT US PAGE CSS START */
@media (max-width: 991px) {
  .request-appointment-box {
    padding: 42px 40px;
    grid-template-columns: auto;
    margin: -120px auto 0;
  }

  .contact-options {
    text-align: center;
  }

  .contact_page .inner-banner {
    padding: 162px 0 206px;
  }

  .request-content {
    padding: 60px 0 30px;
  }

  .request-content p:not(:last-of-type) {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .request-appointment-box {
    padding: 30px;
    margin: -80px auto 0;
  }

  .request-appointment-form .form-box:not(.form_select):not(.radio-box-wp):not(.submit-btn) label {
    font-size: 14px;
    left: 12px;
    padding: 0 8px;
  }

  .request-appointment-form .form-box input:not(input[type="radio"]), .request-appointment-form .form-box select {
    height: 54px;
    padding-top: 4px;
  }

  .contact_page .inner-banner {
    padding: 146px 0;
  }

  .request-content {
    padding: 50px 0 20px;
  }
}

@media(max-width: 480px) {
  .request-appointment-box {
    padding: 20px;
  }

  .radio-box {
    flex-direction: column;
    gap: 11px;
    align-items: flex-start;
  }

  .form-box.radio-box-wp {
    gap: 16px;
  }

  .request-appointment-form .form-box {
    margin-bottom: 24px;
  }

  .request-appointment-form .form-box input:not(input[type="radio"]), .request-appointment-form .form-box select {
    height: 46px;
    padding-top: 4px;
    font-size: 14px;
  }

  .request-appointment-form .form-box:not(.form_select):not(.radio-box-wp):not(.submit-btn) label {
    top: -7px;
  }

  .form-box.radio-box-wp>label {
    flex: 0 0 168px;
  }

  .submit-btn button.sec-btn {
    height: 46px;
  }
}

/* BLOG PAGE CSS START */
.blog-content,
.blog-detail-sec {
  padding: 138px 0 126px;
}

.blog-listing {
  margin-top: 34px;
}

.blog-card {
  overflow: hidden;
  border-radius: 10px;
  background-color: var(--white-color);
}

.blog-listing .row {
  gap: 34px 0;
}

a.blog-nav-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  height: 50px;
  background-color: #EFEFEF;
  color: var(--dark-color);
  font-size: 22px;
  font-weight: 500;
}

.blog-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

a.blog-nav-next {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.blog-nav a.blog-nav-link:hover {
  background-color: var(--black-color);
  color: var(--white-color);
}

.blog-detail-sec .container {
  max-width: 1011px;
}

.blog-detail-image {
  width: 100%;
  aspect-ratio: 1/.48032290;
  margin-bottom: 38px;
}

.blog-detail-content ol li span {
  display: block;
  font-size: 18px;
  line-height: 1.7;
  margin-left: -14px;
}

.blog-detail-content ol li:not(:last-child) {
  margin-bottom: 32px;
}

.blog-detail-content ol li {
  font-size: 22px;
}

.blog-detail-content ol {
  margin-top: 32px;
  margin-bottom: 32px;
}

a.read-blog {
  font-weight: 500;
  font-size: 22px;
  text-decoration: underline;
  color: var(--primary-color);
  display: inline-block;
  margin-top: 8px;
}

.blog_details_page .blog-detail-sec {
  padding-bottom: 36px;
}

/* BLOG PAGE CSS END */